<!DOCTYPE HTML>
<!--
	Prism by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>ShareIt</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="static/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
					<center>
						<p>OAR: Outdoor Accessory Rental</p>
						<h2>Thank you for reaching out! If no one responds to you within 24 hours feel free to call directly and yell at us, we'll send you a free stress ball to thank you for your commitment to sparkle motion!</h2>
<p></p>
						<ul class="actions">
						<li><a href="/" class="button special">Back Home</a></li>
						</ul>
						<img style="width:480px;heigh:480px;" src="static/images/skydiving.jpg" alt="" />
					</center>
			</section>
