<!DOCTYPE HTML>
<!--
	Prism by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>OAR Outdoor Atlanta Rental</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="static/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
		<!--{{sndmap.js}}-->
		 <style>
       			#map {
        		height: 360px;
        		width: 90%;
       			}
    		</style>
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
					<center>
						<h2>Outdoor Atlanta Rental</h2>
						<p>Rent your gear to friends, neighbors, and fellow outdoor enthusiast easily and safely.</p>
						<ul class="actions">
						<li><a href="/signup" class="button special">Signup Here</a></li>
						</ul>
					</center>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner split">
					<section>
						<center>
						<!--{{sndmap.html}}-->
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP3jJBdmJ7tVJ8EXo7kWPwJhFDj5UfnFs&callback=initMap">
    </script>

						<p></p>
						<ul class="actions">
							<li><a href="/learnmore" class="button alt">Learn More</a></li>
						</ul>
						</center>
					</section>
					<section>
						<ul class="checklist">
							<h2>Post It, Find It</h2>
                                                        
							<li>Camping: Tents, Backpacks, Gas Stoves</li>
                                                        <li>Hiking: Guide books, Trekking Poles, Daypacks</li>
                                                        <li>Climbing: Crashpads, Quickdraws, Climbing Rope</li>
                                                        <li>On the water: Canoes, Life Jackets, Fishing Poles</li>
							<li>In the water: Snorkels, Goggles, Inner Tubes</li> 
                                                </ul>
					</section>
				</div>
			</section>
		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; All rights reserved. Images: <a href="http://unsplash.com">Unsplash</a>. Design: <a href="http://templated.co">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="static/js/main.js"></script>	

	</body>
</html>
